{% extends 'base.html' %}

{% load static %}

{% block title %}
Eliminar Empleado
{% endblock title %}

{% block content %}
    {% include 'includes/header.html' %}

    <div class="grid-container">
        <div class="grid-x">
            <h1 class="cell">Eliminar Empleado: {{ object.full_name}}</h1>
                <form class="cell" method="post"> {% csrf_token %}
                    <div class="callout secondary">
                        <h5>¿desea eliminar este empleado?</h5>
                        <button type="submit" class="alert button">Confirmar</button>
                    </div>
                </form>
        </div>
    </div>
{% endblock content %}


<h1>Eliminar Empleado</h1>

<form method="post"> {% csrf_token %}
    <p>Confirne que desea eliminar</p>
    <button type="submit">Confirmar</button>
</form>
