{% extends 'base.html' %}

{% load static %}

{% block title %}
Lista de empleados por Área
{% endblock title %}

{% block content %}
    {% include 'includes/header.html' %}

    <div class="grid-container">
        <div class="grid-x">
            <h1 class="cell">Empleados por Área:</h1>
            <div class="cell">
                <table>
                    <thead>
                        <tr>
                            <th width="150">ID</th>
                            <th width="150">NOMBRES</th>
                            <th width="150">APELLIDOS</th>
                            <th width="150">DEPARTAMENTO</th>
                            <th width="150" style="text-align: center;">ACCION</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for empleado in empleados  %}
                        <tr>
                            <td>{{empleado.id}}</td>
                            <td>{{empleado.first_name}}</td>
                            <td>{{empleado.last_name}}</td>
                            <td>{{empleado.departamento}}</td>
                            <td style="text-align: center;"><a class="button warning" href=" {% url 'persona_app:empleado_detail' empleado.id %}">Ver</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock content %}